<footer class="small">
<section>
	<p>{{ ui.footer.copyright|safe }}</p>
	<p><a href="{{ rr }}/privacy-policy.html">{{ ui.footer.privacy_policy }}</a></p>
	<p><a href="{{ rr }}/credits.html">{{ ui.footer.oss }}</a></p>
</section>
<section>
	<p><a class="iconline" href="{{ rr }}/languages.html">{{ icon(name="language")|safe }}<span>{{ ui.nav.languages }}</span></a></p>
	<p><a class="iconline" href="{{ rr }}/{{ lang }}/preferences.html">{{ icon(name="settings")|safe }}<span>{{ ui.footer.preferences }}</span></a></p>
	<p>
		{{ ui.footer.tip|safe }}
	</p>
	<address>
		{{ ui.footer.contact_us }}<br>
		<a href="https://github.com/FurryGamesIndex/games" title="{{ ui.links.github }}">
			{{ icon(scope="site", name="github")|safe }}
		</a>
		<a href="mailto:webmaster@furrygames.top" title="webmaster@furrygames.top">
			{{ icon(name="email")|safe }}
		</a>
		<a href="https://t.me/FurryGamesIndex" title="{{ ui.links.tg }}">
			{{ icon(scope="site", name="telegram")|safe }}
		</a>
	</address>
</section>
<section>
	<p><a class="iconline" href="{{ rr }}/{{ lang }}/feed.xml">{{ icon(name="rss")|safe }}<span>{{ ui.footer.rss }}</span></a></p>
	<p>{{ ui.footer.rss_desc }}</p>
</section>
</footer>
<script src="{{ res(rr=rr, path='scripts/base.js') }}"></script>
