<!DOCTYPE html>
<html lang="{{ lang_bcp47 }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if meta is defined %}
	<title>{{ meta.title }} - {{ ui.main.title }}</title>
	<meta name="keywords" content="{{ meta.keywords }}">
	<meta property="og:title" content="{{ meta.title }} - {{ ui.page_title }}"/>
	<meta property="og:description" content="{{ meta.description }}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:image" content="{{ meta.image }}"/>
{% else %}
	<title>{{ ui.main.title }}</title>
	<meta name="keywords" content="{{ ui.seo.base_keywords }}">
{% endif %}
	<meta name="description" content="{{ ui.main.description }}">
{% if noindex is defined and noindex %}
	<meta name="robots" content="noindex">
{% endif %}
	<link rel="stylesheet" href="{{ res(rr=rr, scope='styles', path='styles/peafowl.css')|safe }}">
	<link rel="stylesheet" href="{{ res(rr=rr, scope='icons', path='icon.css')|safe }}">
{% if extra_styles is defined %}
	<style>{{ extra_styles }}</style>
{% endif %}
</head>
<body>
{% if "infobar" in ui %}
	<aside class="version-warning">
		<div class="container">
			{{ icon(name="warn")|safe }}
			<p class="small">
				{{ ui.infobar }}<br>
			</p>
		</div>
	</aside>
{% endif %}
