{% import 'peafowl-private/macros.html' as macros %}
<header>
<nav>
	<div class="title">{{ ui.main.title }}</div>
	<ul>
		<li class="{{ macros::is_page_actived(page='misc:index') }}">
			<a class="iconline" href="{{ rr }}/{{ lang }}/index.html">{{ icon(name="home")|safe }}{{ ui.nav.index }}</a>
		</li>
		<li class="{{ macros::is_page_actived(page='list:list') }}">
			<a class="iconline" href="{{ rr }}/{{ lang }}/list.html">{{ icon(name="list")|safe }}{{ ui.nav.list }}</a>
		</li>
		<li class="{{ macros::is_page_actived(page='misc:search') }}">
			<a class="iconline" href="{{ rr }}/{{ lang }}/search.html">{{ icon(name="search")|safe }}{{ ui.nav.search }}</a>
		</li>
		<li class="{{ macros::is_page_actived(page='misc:faq') }}">
			<a class="iconline" href="{{ rr }}/{{ lang }}/faq.html">{{ icon(name="question")|safe }}{{ ui.nav.faq }}</a>
		</li>
		<li>
			<a class="iconline" href="https://github.com/FurryGamesIndex/games/wiki/Contributors">{{ icon(name="paw")|safe }}{{ ui.nav.contributors }}</a>
		</li>
		<li class="{{ macros::is_page_actived(page='misc:languages') }}">
			<a class="iconline" href="{{ rr }}/languages.html">{{ icon(name="language")|safe }}{{ ui.nav.languages }}</a>
		</li>
	</ul>
</nav>
</header>
