<header>
<nav>
	<div class="title">{{ ui.page_title }}</div>
	<ul>
		<li class="{{ active_index }}"><a class="iconline" href="{{ rr }}/{{ lang }}/index.html">{{ icon(name="home")|safe }}{{ ui.nav_index }}</a></li>
		<li class="{{ active_list }}"><a class="iconline" href="{{ rr }}/{{ lang }}/list.html">{{ icon(name="list")|safe }}{{ ui.nav_list }}</a></li>
		<li class="{{ active_search }}"><a class="iconline" href="{{ rr }}/{{ lang }}/search.html">{{ icon(name="search")|safe }}{{ ui.nav_search }}</a></li>
		<li class="{{ active_faq }}"><a class="iconline" href="{{ rr }}/{{ lang }}/faq.html">{{ icon(name="question")|safe }}{{ ui.nav_faq }}</a></li>
		<li><a class="iconline" href="https://github.com/FurryGamesIndex/games/wiki/Contributors">{{ icon(name="paw")|safe }}{{ ui.nav_contributors }}</a></li>
		<li class="{{ active_languages }}"><a class="iconline" href="{{ rr }}/languages.html">{{ icon(name="language")|safe }}{{ ui.nav_languages }}</a></li>
	</ul>
</nav>
</header>
