{% include 'peafowl-private/header.html' %}
<main class="main_index">
	<hgroup>	
		<h1>{{ ui.index.header1 }}</h1>
		<h2>{{ ui.index.header2 }}</h2>
	</hgroup>
	<section class="content">
		<article>
			{{ ui.index.content|safe }}
		</article>
		<nav>
			<a class="iconline" href="{{ rr }}/{{ lang }}/list.html">
				{{ icon(name="list")|safe }}<span>{{ ui.index.links.games }}</span>
			</a>
			<a class="iconline" href="{{ rr }}/{{ lang }}/search.html">
				{{ icon(name="search")|safe }}<span>{{ ui.index.links.search }}</span>
			</a>
			<a class="iconline" href="https://github.com/FurryGamesIndex/games/tree/master/.github/CONTRIBUTING.{{ lang }}.md">
				{{ icon(name="paw")|safe }}<span>{{ ui.index.links.contribute }}</span>
			</a>
			<a class="iconline" href="https://github.com/FurryGamesIndex/games/wiki/Contributors">
				{{ icon(name="paw")|safe }}<span>{{ ui.index.links.contributors }}</span>
			</a>
			<a class="iconline" href="https://github.com/FurryGamesIndex/games">
				{{ icon(scope="site", name="github")|safe }}<span>{{ ui.index.links.github }}</span>
			</a>
			<a class="iconline" href="https://t.me/FurryGamesIndex">
				{{ icon(scope="site", name="telegram")|safe }}<span>{{ ui.index.links.tg }}</span>
			</a>
		</nav>
	</section>
</main>
<hr />
{% include 'peafowl-private/footer.html' %}
{% include 'peafowl-private/end.html' %}
